In [2]:
from tkinter import *

SyntaxError: invalid syntax (<ipython-input-2-7a081fcb2036>, line 1)

In [4]:
class window():
	def __init__(self):
		self.window = Tk()
		self.canvas = Canvas(self.window,height=500,width=500,bg='green')
		self.canvas.pack()
		self.canvas.update()
		print("Canvas: ",self.canvas.winfo_x,self.canvas.winfo_y)
		line = self.canvas.create_line(10,100,1,100,fill='red')
		self.window.bind('<Button 1>',self.click)

	def click(self,event):
		print("Coords",event.x,event.y)
        num = Text(self.canvas)
        root.grid()

	def mainloop(self):
		self.window.mainloop()

if __name__ == "__main__":
	game = window()
	game.mainloop()

Canvas:  <bound method Misc.winfo_x of <tkinter.Canvas object .!canvas>> <bound method Misc.winfo_y of <tkinter.Canvas object .!canvas>>
Coords 37 327
Coords 163 116
Coords 327 193
Coords 13 -10

In [9]:
import numpy as np
import pandas as pd

In [2]:
np.array(np.random.random((9,9))*9+1, dtype ='int64')

array([[9, 6, 3, 4, 7, 3, 1, 3, 8],
       [3, 3, 2, 8, 4, 8, 2, 4, 1],
       [2, 7, 6, 7, 3, 1, 7, 6, 5],
       [8, 2, 8, 9, 3, 7, 3, 3, 3],
       [4, 5, 5, 1, 4, 3, 4, 2, 6],
       [8, 9, 2, 3, 7, 1, 2, 1, 4],
       [5, 4, 1, 4, 8, 5, 5, 1, 7],
       [9, 9, 8, 5, 9, 5, 5, 9, 3],
       [7, 6, 8, 5, 1, 9, 3, 5, 7]])

## sudoku solver
import a sudoku file/stdin and return the full array of numbers completing the sudoku puzzle

In [6]:
problem = "070000043040009610800634900094052000358460020000800530080070091902100005007040802"

In [10]:
problemArr = np.reshape([int(char) for char in problem],(9,9))

In [11]:
df = pd.DataFrame(problemArr)

In [12]:
df

   0  1  2  3  4  5  6  7  8
0  0  7  0  0  0  0  0  4  3
1  0  4  0  0  0  9  6  1  0
2  8  0  0  6  3  4  9  0  0
3  0  9  4  0  5  2  0  0  0
4  3  5  8  4  6  0  0  2  0
5  0  0  0  8  0  0  5  3  0
6  0  8  0  0  7  0  0  9  1
7  9  0  2  1  0  0  0  0  5
8  0  0  7  0  4  0  8  0  2

Strategy to solve puzzle

In [ ]:
!python3

Python 3.8.2 (v3.8.2:7b3ab5921f, Feb 24 2020, 17:52:18)
[Clang 6.0 (clang-600.0.57)] on darwin
Type "help", "copyright", "credits" or "license" for more information.
>>>

In [27]:
df

   0  1  2  3  4  5  6  7  8
0  0  7  0  0  0  0  0  4  3
1  0  4  0  0  0  9  6  1  0
2  8  0  0  6  3  4  9  0  0
3  0  9  4  0  5  2  0  0  0
4  3  5  8  4  6  0  0  2  0
5  0  0  0  8  0  0  5  3  0
6  0  8  0  0  7  0  0  9  1
7  9  0  2  1  0  0  0  0  5
8  0  0  7  0  4  0  8  0  2

In [96]:
def getRemaining():
    remain = dict()
    for col in range(df.shape[0]):
        for row in range(df.shape[1]):
            if df.loc[row,col] != 0: remain["{}{}".format(row,col)] = 0
            else:
                remain["{}{}".format(row,col)] = [x for x in range(1,10) if x not in (y for y in df.loc[:,row]) and x not in(z for z in df.loc[col,:])]
    return remain
            
def update():
    pass

In [98]:
remain

{'00': [1, 2, 5, 6],
 '10': [1, 2, 6],
 '20': 0,
 '30': [2, 5, 9],
 '40': 0,
 '50': [1, 5, 6, 8],
 '60': [1, 2],
 '70': 0,
 '80': [6, 8, 9],
 '01': 0,
 '11': 0,
 '21': [3, 5],
 '31': 0,
 '41': 0,
 '51': [3, 5, 7, 8],
 '61': 0,
 '71': [5, 7, 8],
 '81': [7, 8],
 '02': [1, 2, 5, 7],
 '12': [1, 2],
 '22': [1, 5],
 '32': 0,
 '42': 0,
 '52': [1, 5, 7],
 '62': [1, 2, 7],
 '72': 0,
 '82': 0,
 '03': [1, 6, 7],
 '13': [1, 3, 6],
 '23': 0,
 '33': [3, 7],
 '43': 0,
 '53': 0,
 '63': [1, 3, 7],
 '73': 0,
 '83': [6, 7, 8],
 '04': [1, 7],
 '14': [1],
 '24': 0,
 '34': 0,
 '44': 0,
 '54': [1, 7],
 '64': 0,
 '74': [7],
 '84': 0,
 '05': [1, 2, 4, 6, 7],
 '15': 0,
 '25': 0,
 '35': 0,
 '45': [1, 2, 9],
 '55': [1, 6, 7],
 '65': [1, 2, 4, 7],
 '75': [6, 7],
 '85': [4, 6, 7, 9],
 '06': [2, 4, 5, 6],
 '16': 0,
 '26': 0,
 '36': [2, 3, 5],
 '46': [2],
 '56': 0,
 '66': [2, 3, 4],
 '76': [5, 6],
 '86': 0,
 '07': 0,
 '17': 0,
 '27': [3, 6],
 '37': [3, 7],
 '47': 0,
 '57': 0,
 '67': 0,
 '77': [6, 7, 8],
 '87': [4, 6, 7, 8],
 '08': 0,
 '18': [1, 3, 6],
 '28': [1, 3, 5, 6, 9],
 '38': [3, 5, 9],
 '48': [1, 9],
 '58': [1, 3, 5, 6],
 '68': 0,
 '78': 0,
 '88': 0}

In [93]:
df.loc[0,1]

7

In [92]:
df

   0  1  2  3  4  5  6  7  8
0  0  7  0  0  0  0  0  4  3
1  0  4  0  0  0  9  6  1  0
2  8  0  0  6  3  4  9  0  0
3  0  9  4  0  5  2  0  0  0
4  3  5  8  4  6  0  0  2  0
5  0  0  0  8  0  0  5  3  0
6  0  8  0  0  7  0  0  9  1
7  9  0  2  1  0  0  0  0  5
8  0  0  7  0  4  0  8  0  2

In [89]:
remaining

{'00': [1, 2, 5, 6],
 '10': [1, 2, 6],
 '20': [1, 5, 6, 9],
 '30': [2, 5, 9],
 '40': [1, 2, 8, 9],
 '50': [1, 5, 6, 8],
 '60': [1, 2],
 '70': [5, 6, 8],
 '80': [6, 8, 9],
 '01': [2, 5, 7],
 '11': [2, 3],
 '21': [3, 5],
 '31': [2, 3, 5, 7],
 '41': [2, 8],
 '51': [3, 5, 7, 8],
 '61': [2, 3, 7],
 '71': [5, 7, 8],
 '81': [7, 8],
 '02': [1, 2, 5, 7],
 '12': [1, 2],
 '22': [1, 5],
 '32': [2, 5, 7],
 '42': [1, 2],
 '52': [1, 5, 7],
 '62': [1, 2, 7],
 '72': [5, 7],
 '82': [7],
 '03': [1, 6, 7],
 '13': [1, 3, 6],
 '23': [1, 3, 6],
 '33': [3, 7],
 '43': [1, 8],
 '53': [1, 3, 6, 7, 8],
 '63': [1, 3, 7],
 '73': [6, 7, 8],
 '83': [6, 7, 8],
 '04': [1, 7],
 '14': [1],
 '24': [1, 9],
 '34': [7, 9],
 '44': [1, 9],
 '54': [1, 7],
 '64': [1, 7],
 '74': [7],
 '84': [7, 9],
 '05': [1, 2, 4, 6, 7],
 '15': [1, 2, 6],
 '25': [1, 6, 9],
 '35': [2, 7, 9],
 '45': [1, 2, 9],
 '55': [1, 6, 7],
 '65': [1, 2, 4, 7],
 '75': [6, 7],
 '85': [4, 6, 7, 9],
 '06': [2, 4, 5, 6],
 '16': [2, 3, 6],
 '26': [3, 5, 6],
 '36': [2, 3, 5],
 '46': [2],
 '56': [3, 5, 6],
 '66': [2, 3, 4],
 '76': [5, 6],
 '86': [4, 6],
 '07': [4, 6, 7],
 '17': [3, 6],
 '27': [3, 6],
 '37': [3, 7],
 '47': [8],
 '57': [3, 6, 7, 8],
 '67': [3, 4, 7],
 '77': [6, 7, 8],
 '87': [4, 6, 7, 8],
 '08': [1, 5, 6],
 '18': [1, 3, 6],
 '28': [1, 3, 5, 6, 9],
 '38': [3, 5, 9],
 '48': [1, 9],
 '58': [1, 3, 5, 6],
 '68': [1, 3],
 '78': [5, 6],
 '88': [6, 9]}

In [80]:
df

   0  1  2  3  4  5  6  7  8
0  0  7  0  0  0  0  0  4  3
1  0  4  0  0  0  9  6  1  0
2  8  0  0  6  3  4  9  0  0
3  0  9  4  0  5  2  0  0  0
4  3  5  8  4  6  0  0  2  0
5  0  0  0  8  0  0  5  3  0
6  0  8  0  0  7  0  0  9  1
7  9  0  2  1  0  0  0  0  5
8  0  0  7  0  4  0  8  0  2

In [3]:
mydict = {"12":1,"23":1,"34":1}

In [18]:
for key in mydict.keys():
    print(key[0],key[1])
    print(df.loc[int(key[0]),int(key[1])])

1 2
0
2 3
6
3 4
5

In [22]:
for 
    [x for x in nums if x!= [y for y in df.loc[:,0]]]

[1, 2, 4, 5, 6, 7]

In [5]:
df.loc[]

NameError: name 'df' is not defined

In [33]:
%load_ext autoreload
%autoreload 2

import src.sudoku as sudoku

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [51]:
game = sudoku.Sudoku(problem)

In [52]:
remaining = game.getRemaining()

In [53]:
remaining

{'00': [1, 2, 5, 6],
 '01': [2, 5, 7],
 '02': [0],
 '03': [1, 6, 7],
 '04': [0],
 '05': [1, 2, 4, 6, 7],
 '06': [2, 4, 5, 6],
 '07': [0],
 '08': [1, 5, 6],
 '10': [0],
 '11': [0],
 '12': [1, 2],
 '13': [0],
 '14': [0],
 '15': [1, 2, 6],
 '16': [0],
 '17': [3, 6],
 '18': [1, 3, 6],
 '20': [1, 5, 6, 9],
 '21': [3, 5],
 '22': [1, 5],
 '23': [0],
 '24': [0],
 '25': [1, 6, 9],
 '26': [3, 5, 6],
 '27': [0],
 '28': [0],
 '30': [2, 5, 9],
 '31': [2, 3, 5, 7],
 '32': [0],
 '33': [3, 7],
 '34': [0],
 '35': [0],
 '36': [2, 3, 5],
 '37': [0],
 '38': [3, 5, 9],
 '40': [1, 2, 8, 9],
 '41': [2, 8],
 '42': [0],
 '43': [0],
 '44': [0],
 '45': [1, 2, 9],
 '46': [0],
 '47': [8],
 '48': [0],
 '50': [1, 5, 6, 8],
 '51': [0],
 '52': [0],
 '53': [0],
 '54': [1, 7],
 '55': [1, 6, 7],
 '56': [3, 5, 6],
 '57': [3, 6, 7, 8],
 '58': [1, 3, 5, 6],
 '60': [1, 2],
 '61': [0],
 '62': [0],
 '63': [1, 3, 7],
 '64': [1, 7],
 '65': [0],
 '66': [2, 3, 4],
 '67': [3, 4, 7],
 '68': [0],
 '70': [0],
 '71': [0],
 '72': [5, 7],
 '73': [6, 7, 8],
 '74': [0],
 '75': [0],
 '76': [0],
 '77': [6, 7, 8],
 '78': [5, 6],
 '80': [0],
 '81': [7, 8],
 '82': [7],
 '83': [6, 7, 8],
 '84': [7, 9],
 '85': [4, 6, 7, 9],
 '86': [0],
 '87': [0],
 '88': [0]}

In [54]:
game.updateBoard(remaining)

   0  1  2  3  4  5  6  7  8
0  0  7  0  0  0  0  0  4  3
1  0  4  0  0  0  9  6  1  0
2  8  0  0  6  3  4  9  0  7
3  0  9  4  0  5  2  0  0  0
4  3  5  8  4  6  0  0  2  0
5  0  0  0  8  0  0  5  3  0
6  0  8  0  0  7  0  0  9  1
7  9  0  2  1  8  0  0  0  5
8  0  0  7  0  4  0  8  0  2

In [58]:
game.getRemaining()

{'00': [1, 2, 5, 6],
 '01': [2, 5, 7],
 '02': [0],
 '03': [1, 6, 7],
 '04': [0],
 '05': [1, 2, 4, 6, 7],
 '06': [2, 4, 5, 6],
 '07': [0],
 '08': [1, 5, 6],
 '10': [0],
 '11': [0],
 '12': [1, 2],
 '13': [0],
 '14': [0],
 '15': [1, 2, 6],
 '16': [0],
 '17': [3, 6],
 '18': [1, 3, 6],
 '20': [1, 5, 6, 9],
 '21': [3, 5],
 '22': [1, 5],
 '23': [0],
 '24': [0],
 '25': [1, 6, 9],
 '26': [3, 5, 6],
 '27': [0],
 '28': [0],
 '30': [2, 5, 9],
 '31': [2, 3, 5, 7],
 '32': [0],
 '33': [3, 7],
 '34': [0],
 '35': [0],
 '36': [2, 3, 5],
 '37': [0],
 '38': [3, 5, 9],
 '40': [1, 2, 9],
 '41': [2],
 '42': [0],
 '43': [0],
 '44': [0],
 '45': [1, 2, 9],
 '46': [0],
 '47': [0],
 '48': [0],
 '50': [1, 5, 6, 8],
 '51': [0],
 '52': [0],
 '53': [0],
 '54': [1, 7],
 '55': [1, 6, 7],
 '56': [3, 5, 6],
 '57': [3, 6, 7],
 '58': [1, 3, 5, 6],
 '60': [1, 2],
 '61': [0],
 '62': [0],
 '63': [1, 3, 7],
 '64': [1, 7],
 '65': [0],
 '66': [2, 3, 4],
 '67': [3, 4, 7],
 '68': [0],
 '70': [0],
 '71': [0],
 '72': [5],
 '73': [6, 7, 8],
 '74': [0],
 '75': [0],
 '76': [0],
 '77': [6, 7],
 '78': [5, 6],
 '80': [0],
 '81': [8],
 '82': [0],
 '83': [6, 8],
 '84': [9],
 '85': [4, 6, 9],
 '86': [0],
 '87': [0],
 '88': [0]}

## maybe make objects for every row, and square